<div>
    <h1>Hola {{ user.nombre }} {{ user.apellido }} !!  </h1>
</div>

todo listo para socket (o no?)

<hr>

<input id="textbox">
<p id="log"></p>


<input id="chatbox">

<ul id="messageLogs"></ul>



{{!-- {{#if isAdmin}} 
    <h1> khe veo, un admin :D </h1>
    <h2> lista de usuarios </h2>
    {{#each users}}
        <div>
            <p>{{ this.nombre }} {{ this.apellido }} | {{ this.genero }}</p>
        </div>
    {{/each}}
{{else}}
    <h1> noob </h1>
{{/if}}  --}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>